.quick_questionnaire-list li {
  position: relative;
  margin-bottom:1rem;
}

.quick_questionnaire-list .quick_questionnaire-goodquestion {
  color:green;
}

.quick_questionnaire-list .quick_questionnaire-wrongquestion {
  color:red;
}

.quick_questionnaire-list .quick_questionnaire-goodquestion:after,
.quick_questionnaire-list .quick_questionnaire-wrongquestion:after {
  position: absolute;
  right:0;
  top:0;
}

.quick_questionnaire-list .quick_questionnaire-goodquestion:after {
  content: "\2714";
}

.quick_questionnaire-list .quick_questionnaire-wrongquestion:after {
  content: "\2718";
}

.quick_questionnaire_input_wrapper label {
  display:block;
}

.quick_questionnaire-button-wrapper button {
  margin-right:1rem;
}

.quick_questionnaire_checkbox, .quick_questionnaire_radio {
  margin-right:1rem;
}

.quick_questionnaire_in_request:after {
  
}